.list {
    list-style: none;
    width: 300px;
    padding: 0;
    margin: 0;
    display: grid;
    grid-gap: 35px;
}

.item {
    font-weight: 500;
    font-size: 17px;
    line-height: 27px;
    padding-left: 28px;
    position: relative;
}
.item::before {
    content: '';
    position: absolute;
    top: calc(50% - 4.5px);
    left: 0;
    width: 8px;
    height: 9px;
    background-image: url('../../assets/icons/list-icon.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 768px) {
    .list {
        width: 100%;
        grid-gap: 15px;
    }
}

@media (max-width: 425px) {
    .item {
        font-size: 15px;
        line-height: 24px;
    }
}