@import "./index.css";

.layout {
    width: 100vw;
    height: 100vh;
    color: #fff;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    box-sizing: border-box;
    max-width: 1000px;
    width: 100%;
    margin: 0 25px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 8px;
    grid-template-areas: 
    "left left left left . right right right";
}

.left_side {
    grid-area: left;
    display: grid;
    grid-row-gap: 30px;
    align-self: start;
}
.right_side {
    grid-area: right;
    justify-self: end;
}

@media (max-width: 768px) {
    .container {
        display: block;
    }
    .left_side {
        margin-bottom: 30px;
    }
    .list_wrapp {
        margin-bottom: 30px;
    }
}
@media (max-width: 425px) {
    .container {
        margin: 0 15px;
    }
}