.description {
    display: grid;
    grid-gap: 25px;
    align-self: start;
}
.title {
    font-size: 32px;
    line-height: 38px;
    font-weight: 700;
    letter-spacing: -0.025em;
    color: #E7ECF2;
}
.text {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: #AFBBC7;
}

@media (max-width: 768px) {
    .description {
        grid-gap: 20px;
    }    
}

@media (max-width: 425px) {
    .title {
        font-size: 24px;
        line-height: 29px;
    }
    .text {
        font-size: 14px;
        line-height: 22px;
    }
}